# URL base de la API Backend (Django)
VITE_API_URL=http://127.0.0.1:8000/api

# Control de datos simulados (Mocks) en local:
# 'true'  -> Oculta los mocks y muestra únicamente datos reales de la Base de Datos
# 'false' -> Carga datos simulados iniciales para maquetación y diseño
VITE_HIDE_MOCKS=true
