VITE_API_URL=http://127.0.0.1:8000/api
APS_BUCKET_KEY=planner_cristian_rayo_2026
APS_CLIENT_ID=H7ctNfdXX1MGikx6aOEFDqWuEpTruGgAzU9q6GAkTiKLxrzX
APS_CLIENT_SECRET=5xnrt6xhhboUdJQdXWRzjxpAyQXcIn5N87lG5XwaxZcGXTgHJKNEXOVqZ92848Fa